/* Initial formm state */
.formm {
  --col1: #fff;
  --col2: #252325;
  --col3: rgba(232, 213, 196, 0.9);
  --col4: #ffffff;
  --col5: #683363;
  --sh: rgba(80, 80, 80, 0.35);
  --rad: 4px;
  --radBig: 10px;
  border-radius: 0 0 var(--radBig) var(--radBig);
  box-shadow: 0 0 20px var(--sh);
  display: flex;
  flex-direction: column;
  gap: 1.5em 1em;
  padding: 1em;
  position: relative;
  max-width: 100%;
  max-height: 190px;
  transition: background .3s ease-out, max-height .3s ease-out;
  overflow: hidden;
}

.formm::before {
  content: 'Ready to Update Contact?';
  font-size: 1.2em;
  font-weight: 700;
  display: grid;
  width: calc(100% - 2em);
  height: 60%;
  position: absolute;
  place-items: center;
  z-index: 99999;
}

.formm::after {
  content: '';
  backdrop-filter: blur(6px) grayscale(100%);
  background: linear-gradient(-180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 70%, rgba(255, 255, 255, 0.3) 90%);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: block;
  position: absolute;
  z-index: 999;
}

.formm::after,
.formm::before {
  border-radius: 0 0 var(--radBig) var(--radBig);
  pointer-events: none;
  transition: all .5s ease-out;
}

/* formm hover and focus */
.formm:hover,
.formm:focus-within {
  max-width: 100%;
  max-height: 680px;
}

.formm:focus-within {
  overflow: initial;
}

.formm:hover::before,
.formm:hover::after {
  opacity: 0;
}

.formm:hover::after {
  backdrop-filter: blur(0) grayscale(0%);
}

.formm header {
  color: var(--col1);
  font-size: 1.25rem;
  font-weight: 600;
}
/* Labels and inputs UI */
:is(.formm) label span, label input {
  flex: 1 100%;
  transition: all .3s ease-out;
}

:is(.formm) input, select, button {
  appearance: none;
  border: 0;
  padding: .75em;
  border-radius: var(--rad);
  transition: all .3s ease-out;
}

.formm label {
  display: flex;
  flex-flow: row wrap;
  color: var(--col4);
  gap: .5em;
}

.formm input {
  box-shadow: inset 3px 3px 1px var(--sh);
}

.sm {
  justify-content: space-around;
}

.sm span {
  text-align: center;
}

.formm button {
  background-color: var(--col1);
  color: var(--col4);
  border: 2px solid var(--col4);
  font-size: 1em;
  font-weight: 700;
  align-self: center;
  padding: .5em 1.5em;
  appearance: none;
}

/* formm and UI valid and invalid states */
.formm input:focus,
.formm select:focus {
  outline: 3px solid var(--col3);
  outline-offset: 1px;
}

.formm input:invalid:not(:focus),
.formm select:invalid:not(:focus) {
  background-color: var(--col3);
  outline: 3px solid var(--col4);
  outline-offset: 1px;
}

.formm input:valid:not(:focus),
.formm select:valid:not(:focus) {
  outline: 3px solid var(--col1);
  outline-offset: 1px;
}

.formm .message {
  display: block;
  opacity: 0;
  font-size: .75em;
  font-weight: 400;
  transition: all .3s ease-out;
  margin: -1rem 0 0;
}

.formm:has(:invalid) .message {
  opacity: 1;
  margin: .25rem 0 0 0;
}

label:has(input:invalid),
label:has(select:invalid) {
  color: var(--col3);
  opacity: .8;
}

label:has(input:valid),
label:has(select:valid) {
  opacity: 1;
}

.formm:hover:has(:focus, :active):valid .submitCard {
  max-height: 180px;
  opacity: 1;
  transition: opacity 1s ease-out .5s, translate 1.3s ease-out;
  translate: 0 100%;
}

.formm:hover:invalid {
  transition: all .3s ease-out;
  background-color: var(--col5);
}

.formm:hover:valid {
  transition: all .3s ease-out;
  background-color: var(--col1);
}

.formm:hover:valid * {
  color: var(--col2);
}

.formm:hover:valid input,
.formm:hover:valid select {
  outline: 3px solid var(--col2);
}

/* Submit block */
.formm .submitCard {
  display: flex;
  justify-content: center;
  background-color: var(--col2);
  border-radius: 0 0 var(--rad) var(--rad);
  bottom: 0;
  padding: .5em;
  opacity: 0;
  max-height: 0;
  translate: 0 -100%;
  position: absolute;
  width: calc(100% - 2em);
  transition: all .5s ease-out .1s;
  z-index: -1;
}