ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #474c21;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  button{
    background-color: #474c21;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li button a:hover:not(.active) {
    background-color: #240d0d;
  }
  
  .active {
    background-color: #04AA6D;
  }